#for docs and setup.py outputs
build/
tresults*/
test_results*/
# test cache
gwinc/test/cache
test/*/*.h5

gwinc.egg-info/
.eggs/
gwinc/_version.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#vim temporaries
.*.swp
.*.swo

#emacs temporaries
.#*

# Backups
*~

MANIFEST

# Mac OS Files
*.DS_Store

